.link {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 900;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.676);
}

.link:not(last-child) {
  margin-right: 20px;
}

.link:hover,
.link:focus {
  color: rgba(255, 255, 255, 0.535);
}

.activeLink {
  display: inline-block;
  margin-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 900;
  text-transform: uppercase;
  color: #acfc00;
}

.activeLink:last-child {
  margin-right: 0;
}

.signup {
  margin-right: 20px;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 900;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.676);
}

.login {
  margin-right: 0;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 900;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.676);
}

.home {
  margin-right: 20px;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 900;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.676);
}

.contacts {
  margin-right: 0;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 900;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.676);
}
