.description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2a363b;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #000000;
}

.activeLink {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #7fff00;
}

.container {
  display: 'flex';
  align-items: 'center';
}

.avatar {
  margin-right: 4px;
}

.name {
  font-weight: 700;
  margin-right: 12px;
}

.userBlock {
  display: flex;
  align-items: center;
}
