.loginContainer {
  display: flex;
  min-height: calc(100vh - 200px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;

  font-weight: 700;
  font-size: 35px;
  letter-spacing: 0.3em;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.676);

  background: linear-gradient(to right, #fff 20%, #acfc00 40%, #acfc00 60%, #fff 80%);
  background-size: 200% auto;

  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-text-fill-color: transparent;
  animation: shine 2000ms linear infinite;
}

@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.form {
  display: flex;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
}

.form .input {
  margin-bottom: 20px;
}
