.container {
  display: flex;
  min-height: calc(100vh - 140px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-weight: 900;
  font-size: 120px;
  text-align: center;
  text-transform: uppercase;

  color: #fff;
  text-shadow: 8px 8px rgba(0, 21, 255, 0.5), 0px 0px 0px rgba(0, 21, 255, 0.5);
}

.subTitle {
  font-size: 15px;
  letter-spacing: 0.15em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.676);
  font-weight: 700;
}
