.menu {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 10px;
}

.name {
  margin-right: 20px;
  font-weight: 800;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: #acfc00;
}
